@font-face {
  font-family: 'Rubik Mono One';
  src: url('/fonts/RubikMonoOne/RubikMonoOne-Regular.ttf') format('truetype'),
    url('/fonts/RubikMonoOne/RubikMonoOne-Regular.woff') format('woff'),
    url('/fonts/RubikMonoOne/RubikMonoOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
